<div class="container d-flex flex-column">
  <h2><%= @task.title %></h2>
  <p><%= @task.details %></p>
    <% if @task.completed %>
    <i class="far fa-check-square"></i>
    <span>This task is completed</span>
    <% else %>
    <i class="far fa-square"></i>
    <span>This task is not yet completed</span>
    <% end %>

  <div class="white btn btn-primary mt-3">
    <%= link_to 'Edit this task', edit_path %>
  </div>

  <div class="white btn btn-primary mt-3">
    <i class="fas fa-trash-alt">
      <%= link_to 'Delete this task', task_path, method: :delete, data: { confirm: "Are you sure?" } %>
    </i>
  </div>
  <div class="back-home mt-3">
    <%= link_to 'Go back to see all your tasks', tasks_path %>
  </div>
</div>
